<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Human Trafficking in the United States 2015-2020 by County</title>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Adding AOS outside learning-->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="container bg-dark">
        <div class="row">
          <div class="col-md-12 jumbotron text-center">
            <h1>Human Trafficking Dashboard</h1>
            <div class="col-xs-12 col-md-9">
              <div class="article">
                <p>Did you know that the United States is one of the worst countries for adult human trafficking? 
              It is believed that 12.3 million people are forced into labor with 2.3 million cases because of labor trafficking. 
              Here are the FBI crime statistics for Human Trafficking from 2013 to 2020.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="well">
              <h5>Use the interactive charts below to explore the dataset</h5>
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">View Charts</button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#bubble">Bubble Chart</a>
                  <a href="#pie">Pie Chart</a>
                  <a href="#bar">Bar Chart</a>
                </div>
              </div>
            </div>
            <div class="panel panel-secondary">
              <div class="panel-heading">
              </div>
              <div id="sample-metadata" class="panel-body"></div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <br>
    <!-- The div that holds our map -->
    <h1>Human Trafficking Interactive Data Map </h1>
    <div class='fluid-container container' id="map">
    </div>
    <br>
    <h1>Human Trafficking Charts</h1>
    <h4>Please select the year you would like to view</h4>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h4>Year:</h4>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
  </div>
  <br>
</div>
  <div class="container bg-dark">
    <div class="article">
      <h1>Bubble Chart</h1>
      <div data-aos="zoom-in" data-aos-delay="3000">
        <div align="center";>
          <div id="bubble"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="article">
          <p>This bubble chart shows the prevalence of Human Trafficking Crime by county.
            It had been generated with plotly and Leaflet using the FBI Crime Explorer Data and the Economic Analysis of the US Department of Commerce.
            Take a look at how the data changes through the years.
          </p>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <div class="container bg-dark">
    <div class="col-md-5">
      <h1>Pie Chart</h1>
      <div data-aos="zoom-in" data-aos-delay="3000">
        <div align="center";>
          <div id="pie"></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="article">
          <p>This pie chart shows the percentage diference between involuntary servitude and commercial sex acts.
            This chart has been generated with plotly and Leaflet using the FBI Crime Explorer Data.
            Take a look at how the data changes through the years.
          </p>
        </div>
      </div>
    </div>
    <br>
  </div>
  <br>
  <div class="container bg-dark">
    <div class="center">
      <h1>Bar Chart</h1>
      <div data-aos="zoom-in" data-aos-delay="3000">
        <div align="center";>
          <div id="bar"></div>
        </div>
      </div>
        <div class="article">
            <p>This bar chart shows the prevalence of Human Trafficking Crime by county.
              It had been generated with plotly and Leaflet using the FBI Crime Explorer Data.
              Take a look at how the data changes through the years and how some county's Human Trafficking
              counts relate to others.
            </p>
          </div>
    </div>
    <br>
  </div>
  </div>
  </div>
  </div>
  <br>
  <div class="article">
    <h4>For a closer look into the data sets used or more infromation about Human Trafficking in the 
      United States, click these references below.</h4>
  </div>
  <div class="article">
    <a href="https://crime-data-explorer.fr.cloud.gov/pages/home" target="_blank">Visit Federal Bureau of Investigation Crime Data Explorer</a>
  </div>
  <div class="article">
    <a href="https://apps.bea.gov/regional/downloadzip.cfm" target="_blank">Visit Bureau of Economic Analysis US Department of Commerce</a>
  </div>
  <div class="article">
    <a href="https://www.state.gov/humantrafficking-about-human-trafficking/" target="_blank">Visit US Department of State Human Trafficking Response website</a>
  </div>
  <div class="article">
    <a href="https://humantraffickinghotline.org/what-human-trafficking/human-trafficking/victims" target="_blank">Visit the National Human Trafficking Hotline website</a>
  </div>
  <br>
  <br>
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <!-- <script type="text/javascript" src="static/js/bubble.js"></script> -->
  <script type="text/javascript" src="static/js/map.js"></script>
  <!-- Adding AOS script and calling it -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>
